html,
body {
  height: 100%;
  background-color: #080808;
}

a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

a:hover {
	color: white;
}
.lnk-buttons {
	font-family: TexBold;
	text-decoration: none;
}

.text-main {
	font-family: "TexBold";
}

p {
	font-family: "TexBold";
	color: white;
}

.about-image {
	padding-top: 15px;
}

.descritption {
	padding-bottom: 25px;
	padding-top: 50px;
	margin-right: 35%;
	margin-left: 35%;
}

b {
	font-family: TexBoldItalic;
}

.img-cover {
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.active-lnk {
  color: #E6FCFF;
}

.main-cont {
 font-size: 20px;
}