html,
body {
  height: 100%;
  background-color: #080808;
}

a {
	color: white;
	font-size: 14px;
}

a:hover {
	color: white;
	text-decoration: none;
}

.lnk-buttons {
	font-family: TexBold;
}

p {
	margin-bottom: 0rem;
	color: black;
}

.dropdown-divider {
	border-top: 1px solid #E6FCFF;
}

.release-description {
	margin-bottom: 25px;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	color: #E6FCFF;
	background-color: #E6FCFF;
}

.r-title {
	font-family: TexBold;
}

.r-artist {
	font-family: TexRegular;
	padding-bottom: 5px;
}

.r-date {
	font-family: TexBold;
}

.r-catalog {
	font-family: TexBoldItalic;
	font-size: 12px;
}

h6 {
	font-family: TexBoldItalic;
}

.active-lnk {
  color: #E6FCFF;
}

h6 {
	color: #E6FCFF;
}