@font-face {
font-family: "TexBold";
src: url("fonts/texgyreheros-bold.otf");
}

@font-face {
font-family: "TexRegular";
src: url("fonts/texgyreheros-regular.otf");
}

@font-face {
font-family: "IBM-Plex-Sans-Mono-Regular";
src: url("fonts/IBMPlexMono-Regular.otf");
}

@font-face {
font-family: "IBM-Plex-Sans-Mono-Medium";
src: url("fonts/IBMPlexMono-Medium.otf");
}

@font-face {
font-family: "IBM-Plex-Sans-Mono-Bold";
src: url("fonts/IBMPlexMono-Bold.otf");
}
