html,
body {
  background-color: #080808;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

a {
	color: #e8ffff;
	font-size: 14px;
}

a:hover {
	color: #e8ffff;
	text-decoration: none;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.subtext-work {
    font-family: "IBM-Plex-Sans-Mono-Regular";
    color: #d1ffff;
    letter-spacing: 0rem;
}

.subtext-work-link {
    font-family: "IBM-Plex-Sans-Mono-Regular";
    color: #d1ffff;
    letter-spacing: 0rem;
    text-decoration: underline;
}

.subtext-work-link:hover {
    font-family: "IBM-Plex-Sans-Mono-Regular";
    color: #d1ffff;
    letter-spacing: 0rem;
    text-decoration: underline;
}

.headertext-work {
    font-family: "IBM-Plex-Sans-Mono-Bold";
    color: #d1ffff;
    letter-spacing: 0rem;
}

.video-press {
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 0.3s;
}

.no-pad-oc {
  padding-right: 0px;
  padding-left: 0px;
}

video.format-video-press {
  transform: translateX(0%);
  transform: translateY(-0.5%);
}
