@font-face {
font-family: "TexBold";
src: url("fonts/texgyreheros-bold.otf");
}

@font-face {
font-family: "TexBoldItalic";
src: url("fonts/texgyreheros-bolditalic.otf");
}

@font-face {
font-family: "TexRegular";
src: url("fonts/texgyreheros-regular.otf");
}

@font-face {
font-family: "TexItalic";
src: url("fonts/texgyreheros-italic.otf");
}
